* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 1440px;
  height: 800px;
}

section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  height: 500px;
  width: 320px;
  background-color: white;
  border-radius: 15px;
  padding: 16px;
}

img {
  height: 288px;
  width: 288px;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.content h2 {
  margin-top: 30px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.content p {
  margin-top: 15px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  main {
    width: 375px;
    height: 667px;
  }
}
